<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Show Tickets</title>
</head>
<body>
<div align="center">	
			
<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>
		<form th:action="@{/logout}" method="post" style="padding-left: 108%;">
           <input type="submit" class="btn btn-light" value="Logout" />
        </form>
	
	<h1>Tickets Developpeur</h1>
	
	
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Description</th>
				<th>Enviromenement</th>
				<th>Logiciel</th>	
				<th>Status</th>		
				<th>Urgence</th>
				<th>Client</th>	
				<th>Developpeur</th>	
			</tr>
		</thead>
		<tbody>
			<tr th:each="t : ${tickets}">
				<td th:text="${t.description}">Description</td>
				<td th:text="${t.environnement}">Enviromenement</td>
				<td th:text="${t.logiciel}">Logiciel</td>
				<td th:text="${t.statut}">Status</td>
				<td th:text="${t.urgence}">Urgence</td>
				<td th:text="${t.client}">Client</td>
				<td th:text="${t.developpeur}">Developpeur</td>
				<td> <a th:href="@{/updateStatut/{id}(id=${t.id})}" class="btn btn-success" />Update</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>